html {
  height: 100%;
  width: 100%;
}

h1{
  text-align: center;
  color: White !important;
}

body{
  background-color: red !important;
}

nav {
  background-color: white ;
  text-decoration-color: white !important ;
}

h2 {
  color: white !important;
}

p {
  color: lime !important;
}

#real {
  color: gold !important;
  
}

.img {
  width:25%
}

a {
  color:red !important
}

.real {
  width: 15%;
}

#x {
  background-color: blue !important;
}

#c {
  background-color: gold !important;
}

#b {
  background-color:darkblue !important;
}